.main_navigation {
  border-bottom: 1px solid $border;
  padding: 1.7em 5%;

  &__personal-information {
    float: right;
    padding-top: 1em;

    a {
      color: $dark;
      font-size: 1rem;
      margin: 0 1rem;
      text-decoration: none;
    }
  }

  &__hamburger {
    display: none;
  }

  img {
    @include size(3em);

    float: left;
    margin: 0.15em 1em 0 0;
  }

  .name {
    border: 2px solid $border;
    color: $dark;
    float: left;
    font-size: .8em;
    font-weight: $bold;
    letter-spacing: 4px;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px){
  .main_navigation {
    &__hamburger {
      display: block;
      padding-top: 1em;
  		float: right;

  		i {
  			font-size: 1.5em;
  			color: $dark;
  		}
    }

    &__personal-information {
      display: none;

      &.active {
        display: block;
        width: 100%;

        a {
          display: block;
          padding: 1em 0;
          border-bottom: 1px solid $light-gray;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
