.welcome-page {
  @include show-grid(layout($susy $susy-debug));
  @include container;

  @include phone {
    @include show-grid(layout($susy-phone $susy-debug));
  }

  .homepage-banner {
    @include span(full);

    @include phone {
      padding: 6rem 0 6em 0;
    }

    background-image: image-url("banner6.jpg");
    background-repeat: none;
    padding: 6rem 0 15rem 0;
    text-align: center;

    &__description {
      opacity: 0.8;
      margin: 6em auto;
      background-color: #2e2e2e;
      padding: 1em 0;
    }

    &__name {
      color: $white;
    }

    &__job {
      color: $white;
    }
  }
}

.col-6, .col-2, .col-3{
  float: left;
}

.col-6{
  width: 50%;
  padding: 0 5% 0 2.5%; //top left bottom right
}

.col-2, .col-3{
  width: 33.33%;
  padding: 1em 3%;
}

.homepage_content{
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .85em;
    color: $light;
    margin-bottom: 2em;
  }
  p {
    margin: 0 0 .75em 0;
  }
}

.about {
    a {
      color: $highlight;
      font-weight: 700;
      text-decoration: none;
    }
}

.user-img {
  margin: 3em 0 0 30%;
  img{
  border-radius: 100%;
  border: 8px solid $highlight;
  height: 350px;
  width: 300px;
  }
}

p.caption{
    position: absolute;
    bottom:0;
    margin-left: 88%;
    a {
      color: $light;
    }
}
