<div id="banner" class="homepage_banner" style="visibility: visible">
  <div class="wrapper">
    <div class="front-opacity panel">
      <h1>Hi, I'm Alexander Lee</h1>
      <p>I am a Web Developer // Software Engineer </p>
    </div>
  </div>
</div>

<div class="wrapper_1 wrapper_padding clearfix">
  <div class="col-6 about homepage_content">
    <h2>About Me</h2>
    <hr>
    <p>
    I am a Web Developer // Software Engineer living in New York by way of California.            
    </p>
    <p>
    This is my way of showing my readers what I have been working on as well as some cool blog posts that I find interesting and helpful.
    </p>
    <p>
    I hope my posts will get you excited about coding and life in general!  
    During my free time, I love to travel and go to the gym! 
    You can follow me on github or linkedin on the links in the bottom right corner!
    </p>
  </div>
  <div class="col-6 about homepage_content">
    <div class="user-img">
      <%= image_tag("about_me_profile.jpg", class: "optional_class") %>
    </div>
  </div>
  
</div>

<div class="wrapper_2 wrapper_padding clearfix">
  <div class="col-2 homepage_content">
    <h2>My Blog Posts</h2>
    <hr>
    <%= render partial: "welcome/post", collection: @posts, :as => "post" %>
  </div>
        
  <div class="col-3 homepage_content">
    <h2>My Projects</h2>
    <hr>
    <%= render partial: "welcome/projects", collection: @projects, :as => "project" %>
  </div>

  <div class="col-3 homepage_content">
    <h2>My Screencasts</h2>
    <hr>
    <p>Coming Soon...</p>
  </div>
</div>